@model DataLayer.Entities.DProduct

@{
    ViewData["Title"] = "Product info";
}

@if (Model is null)
{
    <div>Error! Incorrect id!</div>
}
else
{
    <div>
        Id: @Model.Id
    </div>
    <div>
        Name: @Model.Name
    </div>
    <div>
        Price: @Model.Price
    </div>
    <div>
        Elements:
        @foreach (var elem in Model.Elements)
        {
            <div>
                @($"{elem.Element.Id}) {elem.Element.Name}, {elem.Purity * 100}%")
            </div>
        }
    </div>
}
