@model string?

@if (Model is not null)
{
    <h2>@(Model)</h2>
}

<form method="post" action="./create">
    <label>Element name</label>
    <input name="name" type="text" />

    <input type="submit" value="Create" />
</form>
