@model string?

@{
    ViewData["Title"] = "Create Client";
}

@if (Model is not null)
{
    @(Model)
}

<form method="post" action="./create">

    <label>Name</label>
    <input name="name" type="text" />

    <input type="submit" value="Create" />

</form>