@model IEnumerable<DataLayer.Entities.DBranch>

@{
    ViewData["Title"] = "Branch menu";
}

<div class="text-center">
    <h1 class="display-4">Branch menu</h1>
    
    <a class="nav-link text-dark" asp-area="" asp-controller="Branch" asp-action="Create">Create</a> <br />

    Count: @(Model.Count()) <br />

    @foreach(var item in Model)
    {
        <div>
            @($"{item.Id}) {item.Name}")
        </div>
    }
</div>